  <!-- Navigation Bar-->
  <header id="topnav">
    <div class="topbar-main">
        <div class="container-fluid">

            <!-- Logo container-->
            <div class="logo">
                
                <a href="/" class="logo">
                    <img src="assets/images/logo-sm.png" alt="" class="logo-small">
                    <img src="assets/images/logo.png" alt="" class="logo-large">
                </a>

            </div>
            <!-- End Logo container-->

            <div class="clearfix"></div>

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h1 style="color: white;"><i class="mdi mdi-movie"></i>&emsp13;Movies DB </h1>
                </div>
            </div>
        </div>
    </div>

    <!-- MENU Start -->
    <div class="navbar-custom">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="/">
                            <i class="ti-desktop" style="font-size:x-large;"></i>
                            <span style="font-size:15px;">Movies</span>
                        </a>
                    </li>

                    <li class="has-submenu">
                        <a href="/">
                            <i class="ti-plus" style="font-size:x-large;"></i>
                            <span style="font-size:15px;">Add Movie</span>
                        </a>
                    </li>

                <!-- End navigation menu -->
            </div> <!-- end navigation -->
        </div> <!-- end container-fluid -->
    </div> <!-- end navbar-custom -->
</header>
<!-- End Navigation Bar-->